/*
	===========================================================================
	'page.css' sets the style for tags, classes and id's that can be found
	exclusively on the page template.
	===========================================================================

	---------------------------------------------------------------------------
	Set the general proportions of the website.
	---------------------------------------------------------------------------
*/	

.normal_content_width
{
	width: 1010px;
}

#banner,
#content,
#footer
{
	border: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: left; 		/* reset the IE Hack to center stuff, see 'global.css'. */		
}

#menubar
{
	background: #f4f4f4;
    margin-left:0;
    padding-top: .2em;
    padding-bottom: .25em;
    padding-left:.5em;
}
    #menubar li
    {
        display: inline;
        padding-right:.75em;
    }
    #menubar a
    {
        color: #707070;
    }
	
#content
{
	background: #fafafa;
	padding-top:5px;
	/* overflow: hidden; */
}

#footer
{
	clear: both;
	background: #f4f4f4;
	text-align: center;
	font-size: 10px;
	color: #a0a0a0;
	border-top: 1px #b0b0b0 dotted;
	border-bottom: 1px #b0b0b0 dotted;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 9px;
}

#footer a
{
	color: #707070;
}
